<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />

    <link rel="stylesheet" href="practice.css">
</head>

<body>
    <!--LITERALLY EVERYTHING-->
    <div id="container">
        <div id="header">
            <h1>Exoplanet Counter</h1>
        </div>

        <div id="content">

            <div id="nav">
                <h3>
                    <ul>
                        <li>
                            <a class=selected href="">Home</a></li>
                        <li>About</li>
                        <li>Contact</li>
                    </ul>

                </h3>
            </div>

            <div id="main">
                <h2>4438</h2>
                <p>Exoplanets have been discovered.</p>
                <p>Since this website went live on July 24, 2021</p>
                <h2>100</h2>
                <p>Exoplanets have been discovered.</p>
            </div>

        </div>

        <div id="footer">
            No copyright or license information available
        </div>

    </div>
</body>

</html>